@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

input {
  background-color: rgba(252, 252, 252, 0.769);
  border-radius: 20px 20px 20px 20px;
  padding: 2%;
  margin: 1%;
}
